<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="../../reset.css"> 
  <link href="http://cdn.foundation5.zurb.com/foundation.css" rel="stylesheet" type="text/css"> 
  <link type="text/css" rel="stylesheet" href="../../jquery.mmenu.all.css" />
  <link type="text/css" rel="stylesheet" href="../../stylesheet.css" />  
</head>
<body>
    <div id="content">
        <header>
            <h1>
                <a href="#sidebar">
                    <div class="border-menu">
                    </div>
                </a>
                <span><%= title %></span>
            </h1>
        </header>
        <div id="main">
            <ul id="messages">
            <% for(var i=0; i<messages.length; i++) {%>
            <li style="display: table; width: 100%;"><p class="alignLeft"><%= messages[i].result.username %><%= messages[i].result.usernameMessageSperator %><%= messages[i].result.message %></p><p class="alignRight"><%= messages[i].result.time %></p></li>
            <% } %>
            </ul>
            <form action="">
            <!-- Using Foundation classes to show a styled textfield and send button -->
                <div class="large-12">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input autocomplete="off" id="messageInput" type="text" placeholder="Your message">
                        </div>
                        <div class="small-2 columns">
                            <a id="message-send-button" href="#" class="button postfix">Send Message</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="replaceHolder"></div>
        <div id="sidebar">
            <!-- Here's a div needed because the mmenu plugin would otherwise only display the first div. That means you wouldn't see the footer of the sidebar -->
            <div>
                <div>
                    <p class="username" style=""></p>
                    <div style="width: 100%; text-align: center; position: relative; font-size:14px;">
                        <button class="radius" name="button" onClick="changeUsername()">
                            Change Username
                        </button>
                        <br>
                        <button class="radius" name="button" style="top: 11%;" onClick="changeRoom()">
                            Change Room
                        </button>
                    </div>
                    <br>
                    <p class="connectionLabel" style="position: relative; width:100%; text-align: center; color: white; font-size: 16px">
                    </p>
                    <br>
                </div>
                <div style="clear:both;"></div>
                <footer>
                    <p id="github-link">
                        <a href="http://github.com/gtomitsuka/montreus-chat" target="_blank">
                            GitHub Source
                        </a>
                    </p>
                    <p id="copyright">
                        &#0169;2015 by Montreus S-AG.
                    </p>
                </footer>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="../../jquery.mmenu.min.all.js"></script>
        <script>
            var currentUser;
            $(function(){
                $('body').addClass('js');
                $("html, body").scrollTop($(document).height());
                var nameMessageHTMLPatternBegin = "Welcome, ";
                var username = localStorage.getItem('MTChat_Username');
                if(username === null){
                    var returnedUsername = prompt("Welcome to <%= title %>!\n Please type in an username. (Leave empty for no username at all)");
                    if(returnedUsername !== null){
                        localStorage.setItem('MTChat_Username', returnedUsername);
                        currentUser = returnedUsername;
                    }
                }else{
                    currentUser = username;
                }
                $(".username").html(nameMessageHTMLPatternBegin + currentUser);
                var connectionQuery = "username=" + currentUser + "&room=<%= id %>";
                var socket = io.connect("" , {query:connectionQuery});
                $('form').submit(function(e){
                    e.preventDefault(); //For avoiding that the page auto refreshes
                    var messageInput = $('#messageInput').val();
                    if(!verifyEmptyness(messageInput)){
                        var messageToSend = {
                            message: messageInput,
                            username: currentUser,
                            date: Date.now()
                        };
                        socket.emit('chat message', messageToSend);
                        $('#messageInput').val('');
                        return false;
                    }
                });
                socket.on('chat message', function(result){
                    var isBottom = false;
                    if($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                        isBottom = true;
                    }
                    $('#messages').append('<li style="display: table; width: 100%;">' + '<p class="alignLeft">' + result.username + result.usernameMessageSperator + result.message + '</p><p class="alignRight">' + result.time + '</p></li>');
                    if(isBottom){
                         $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                    }
                    }
                });
                socket.on('connections', function(userList){
                    if(userList === 1){
                        $(".connectionLabel").html("There is currently 1 user online");
                    }else if(isNumber(userList) === true){
                        $(".connectionLabel").html("There are currently " + userList + " users online");
                    }else{
                        $(".connectionLabel").html(userList);
                    }
                });
                /* This part is needed to make a responsive sidebar: */
                sidebarHTML = $('#sidebar').eq(0).clone().wrapAll('<div>').parent().html();
                $('#sidebar').mmenu();
                if($( document ).width() >= 850){
                    $('#replaceHolder').html(sidebarHTML);
                }
                $( window ).resize(function() {
                    $("#sidebar").trigger("close.mm");
                    if($( document ).width() < 850){
                        $('#replaceHolder').html('');
                    }else{
                       $('#replaceHolder').html(sidebarHTML);
                    }
                });
                $('#message-send-button').click(function(){$('form').submit();});
            });
            function changeUsername(){
                var oldUsername = currentUser;
                var returnedUsername = prompt("Your current username is " + currentUser + ".\nType in a new username:");
                if(!verifyEmptyness(returnedUsername) && returnedUsername !== null){
                    localStorage.setItem('MTChat_Username', returnedUsername);
                    currentUser = returnedUsername;
                    $(".username").html(nameMessageHTMLPatternBegin + currentUser);
                    socket.emit('postName', currentUser);
                }
            }
            //Thanks to Jano González from SE for this
            var verifyEmptyness = function(str) {
                return (str.length === 0 || !str.trim());
            };
            var isNumber = function(obj) {
                return (!jQuery.isArray(obj) && (obj - parseFloat(obj) + 1) >= 0);
            }
        </script>
    </div>
    <div id="no-js">
        <h1>Montreus Chat</h1>
        <div>
        <p>Sorry, Montreus Chat only works with JavaScript enabled.<br>If you want to join the chat, please enable JavaScript in your browser.</p>
        </div>
    </div>
</body>
</html>
